<div class="container mt-5">
    <h1 class="mb-4 text-center">Lecturer Management</h1>

    <div class="d-flex flex-column align-items-center gap-3">

        <form method="get" action="/news-articles/active">
            <button type="submit" class="btn btn-warning w-100">News Articles</button>
        </form>

    </div>
</div>
